In [1]:
# load all dataset
import pandas as pd
df = pd.read_csv("min_loc_IRA.csv")


df.drop(df[df['class'] == 'dew'].index, inplace = True)
df.drop(df[df['class'] == 'dirt_05mm'].index, inplace = True)
df.drop(df[df['class'] == 'dirt_10mm'].index, inplace = True)
df.drop(df[df['class'] == 'dirt_15mm'].index, inplace = True)

df_add = df.dropna()

In [2]:
df

       I_min  R_min  A_min  I_max    R_max  A_max    class  exp
0        4.0  353.0   22.0   66.0   4872.0  133.0      oil    1
1        1.0  122.0   25.0   65.0   4848.0  138.0      oil    1
2        1.0  119.0   17.0   60.0   4464.0  136.0      oil    1
3        2.0  190.0   15.0   59.0   4352.0  139.0      oil    1
4        2.0  195.0   18.0   62.0   4585.0  122.0      oil    1
...      ...    ...    ...    ...      ...    ...      ...  ...
13045    2.0  217.0   16.0  246.0  18074.0  127.0  dirt_05    1
13046    2.0  195.0   14.0  243.0  18055.0  132.0  dirt_05    1
13047    2.0  201.0    8.0  248.0  18331.0  136.0  dirt_05    1
13048    2.0  188.0   14.0  254.0  18820.0  124.0  dirt_05    1
13049    4.0  361.0    6.0  260.0  19297.0  117.0  dirt_05    1

[11250 rows x 8 columns]

In [3]:
#get data class=ref without cover
# 80% for traning, 20% for testing
df_ref =df_add[df_add['class'] == 'clean']
df_ref_train = df_ref.sample(frac=0.80)
df_ref_test = df_ref.drop(df_ref_train.index)

#get data class=ref with cover
# 80% for traning, 20% for testing
df_ref_wh =df_add[df_add['class'] == 'cover']
df_ref_wh_train = df_ref_wh.sample(frac=0.80)
df_ref_wh_test = df_ref_wh.drop(df_ref_wh_train.index)

#get data class oil, foam, dirt, water from exp 1,2,3,4
#get training data
df_water_all=df_add[df_add['class'] == 'water']
df_water_1=df_water_all[df_water_all['exp'].isin([1])] 
df_water_2=df_water_all[df_water_all['exp'].isin([2])] 
df_water_3=df_water_all[df_water_all['exp'].isin([3])] 
df_water_4=df_water_all[df_water_all['exp'].isin([4])] 
df_water_5=df_water_all[df_water_all['exp'].isin([5])] 


df_oil_all=df_add[df_add['class'] == 'oil']
df_oil_1=df_oil_all[df_oil_all['exp'].isin([1])] 
df_oil_2=df_oil_all[df_oil_all['exp'].isin([2])] 
df_oil_3=df_oil_all[df_oil_all['exp'].isin([3])] 
df_oil_4=df_oil_all[df_oil_all['exp'].isin([4])] 
df_oil_5=df_oil_all[df_oil_all['exp'].isin([5])] 

df_foam_all=df_add[df_add['class'] == 'foam']
df_foam_1=df_foam_all[df_foam_all['exp'].isin([1])] 
df_foam_2=df_foam_all[df_foam_all['exp'].isin([2])] 
df_foam_3=df_foam_all[df_foam_all['exp'].isin([3])] 
df_foam_4=df_foam_all[df_foam_all['exp'].isin([4])] 
df_foam_5=df_foam_all[df_foam_all['exp'].isin([5])] 

df_dirt_all=df_add[df_add['class'] == 'dirt']
df_dirt_1=df_dirt_all[df_dirt_all['exp'].isin([1])] 
df_dirt_2=df_dirt_all[df_dirt_all['exp'].isin([2])] 
df_dirt_3=df_dirt_all[df_dirt_all['exp'].isin([3])] 
df_dirt_4=df_dirt_all[df_dirt_all['exp'].isin([4])] 
df_dirt_5=df_dirt_all[df_dirt_all['exp'].isin([5])] 


#skenario A 1234
#list dataframe you want to append
frame_A_train = [df_ref_train, df_ref_wh_train, df_water_1, df_water_2, df_water_3, df_water_4, df_oil_1, df_oil_2, df_oil_3, df_oil_4, df_foam_1, df_foam_2, df_foam_3, df_foam_4,df_dirt_1, df_dirt_2, df_dirt_3, df_dirt_4]

df_A_train = pd.DataFrame()

for df in frame_A_train:
    df_A_train = df_A_train.append(df)

frame_A_test = [df_ref_test, df_ref_wh_test, df_water_5, df_oil_5, df_foam_5, df_dirt_5]

df_A_test = pd.DataFrame()

for df in frame_A_test:
    df_A_test = df_A_test.append(df)

/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_train = df_A_train.append(df)
/tmp/ipykernel_3498434/1910900149.py:59: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_test = df_A_test.append(df)
/tmp/ipykernel_3498434/1910900149.py:59: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_test = df_A_test.append(df)
/tmp/ipykernel_3498434/1910900149.py:59: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_test = df_A_test.append(df)
/tmp/ipykernel_3498434/1910900149.py:59: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_test = df_A_test.append(df)
/tmp/ipykernel_3498434/1910900149.py:59: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_test = df_A_test.append(df)
/tmp/ipykernel_3498434/1910900149.py:59: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_A_test = df_A_test.append(df)

In [4]:
df_A_train

       I_min  R_min  A_min  I_max    R_max  A_max  class  exp
4863     5.0  420.0    6.0  246.0  18230.0   80.0  cover    1
4902     3.0  268.0    2.0  230.0  16978.0   94.0  cover    1
4664     7.0  572.0    0.0  229.0  16999.0  103.0  cover    1
4638     2.0  218.0    0.0  230.0  17068.0  109.0  cover    1
4716     9.0  713.0    2.0  233.0  17299.0  113.0  cover    1
...      ...    ...    ...    ...      ...    ...    ...  ...
12595    2.0  203.0   18.0   23.0   1753.0   53.0   dirt    4
12596    1.0  118.0   17.0   18.0   1377.0   57.0   dirt    4
12597    2.0  191.0   17.0   17.0   1283.0   55.0   dirt    4
12598    3.0  265.0   16.0   19.0   1454.0   50.0   dirt    4
12599    1.0  120.0   20.0   15.0   1143.0   50.0   dirt    4

[7079 rows x 8 columns]

In [5]:
df_A_train.min()

I_min      0.0
R_min     59.0
A_min      0.0
I_max      1.0
R_max    123.0
A_max     20.0
class    cover
exp          1
dtype: object

In [6]:
df_A_train.max()

I_min       27.0
R_min     2019.0
A_min       35.0
I_max      264.0
R_max    19528.0
A_max      472.0
class      water
exp            4
dtype: object

In [7]:
df_A_test

         x_min     y_min     z_min     x_max     y_max     z_max  class  exp
4514  8.341078 -0.035098 -0.251181  8.616590  0.449523  0.140993  cover    1
4516  8.389009 -0.035401 -0.251683  8.613019  0.447317  0.140944  cover    1
4517  8.449009 -0.035098 -0.251214  8.600559  0.456411  0.140810  cover    1
4520  8.412974 -0.035401 -0.251917  8.615164  0.451466  0.140761  cover    1
4527  8.472975 -0.035300 -0.251515  8.614177  0.452884  0.140822  cover    1
...        ...       ...       ...       ...       ...       ...    ...  ...
895   8.444172 -0.081929 -0.169761  8.619336  0.406088  0.140859   dirt    5
896   8.359200 -0.081051 -0.170770  8.612527  0.393425  0.140432   dirt    5
897   8.477823 -0.082833 -0.171491  8.651103  0.377130  0.140700   dirt    5
898   8.485675 -0.096482 -0.169689  8.604357  0.388638  0.140713   dirt    5
899   8.403580 -0.083840 -0.174014  8.756067  0.395906  0.141480   dirt    5

[1695 rows x 8 columns]