In [32]:
import pandas as pd
# load all dataset
df = pd.read_csv("min_loc_x_y_z.csv")

In [33]:
df_add = df.dropna()

In [34]:
df_add

,x_min,y_min,z_min,x_max,y_max,z_max,class,exp
0,8.473228,-0.188489,-0.253089,8.648523,0.315228,0.141407,oil,1
1,8.514189,-0.193765,-0.251382,8.758999,0.325867,0.141736,oil,1
2,8.521878,-0.186584,-0.251917,8.614023,0.336902,0.140676,oil,1
3,8.394783,-0.187152,-0.251181,8.650144,0.316902,0.140566,oil,1
4,8.307848,-0.183495,-0.250913,8.693130,0.321775,0.140883,oil,1
...,...,...,...,...,...,...,...,...
13045,8.516607,-0.214253,-0.250746,8.870342,0.287007,0.144099,dirt_05,1
13046,8.412376,-0.225437,-0.251114,8.655673,0.289007,0.140201,dirt_05,1
13047,8.523973,-0.229408,-0.251382,8.637851,0.279611,0.141139,dirt_05,1
13048,8.281267,-0.245391,-0.251549,8.781316,0.289641,0.143015,dirt_05,1
13049,8.447920,-0.224378,-0.251884,8.664016,0.280751,0.141590,dirt_05,1

In [35]:
#get data class=ref without cover
df_no_cover =df_add[df_add['class'] == 'no_cover']

#get data class=ref with cover
df_cover =df_add[df_add['class'] == 'cover']

#get data class oil, foam, dirt, water from exp 1,2,3,4
#get training data
df_dew_all=df_add[df_add['class'] == 'dew']
df_dirt_all=df_add[df_add['class'] == 'dirt']
df_dirt_05mm_all=df_add[df_add['class'] == 'dirt_05']
df_dirt_10mm_all=df_add[df_add['class'] == 'dirt_10']
df_dirt_15mm_all=df_add[df_add['class'] == 'dirt_15']
df_foam_all=df_add[df_add['class'] == 'foam']
df_oil_all=df_add[df_add['class'] == 'oil']
df_water_all=df_add[df_add['class'] == 'water']

In [36]:
df_no_cover.min()

x_min    8.243317
y_min   -0.223826
z_min   -0.257506
x_max    8.651392
y_max    0.267719
z_max    0.141115
class    no_cover
exp             1
dtype: object

In [37]:
df_no_cover.max()

x_min    8.540595
y_min   -0.210962
z_min   -0.253122
x_max    8.981615
y_max    0.330838
z_max    0.141626
class    no_cover
exp             1
dtype: object

In [38]:
df_cover.min()

x_min    8.136452
y_min   -0.088035
z_min   -0.260452
x_max    8.599905
y_max    0.443903
z_max    0.140566
class       cover
exp             1
dtype: object

In [39]:
df_cover.max()

x_min    8.548478
y_min   -0.034594
z_min   -0.250779
x_max    8.944306
y_max     0.49868
z_max    0.145147
class       cover
exp             1
dtype: object

In [40]:
df_dew_all.min()

x_min    8.281876
y_min   -0.417343
z_min   -0.255398
x_max    8.298426
y_max   -0.376908
z_max   -0.252185
class         dew
exp             1
dtype: object

In [41]:
df_dew_all.max()

x_min      8.8556
y_min      0.1573
z_min    0.142187
x_max      8.8556
y_max    0.243081
z_max    0.142187
class         dew
exp             5
dtype: object

In [42]:
df_dirt_all.min()

x_min    8.271215
y_min   -0.136055
z_min   -0.248369
x_max    8.564021
y_max    0.273031
z_max    0.139567
class        dirt
exp             1
dtype: object

In [43]:
df_dirt_all.max()

x_min    8.550221
y_min    -0.01715
z_min   -0.166685
x_max    8.948627
y_max    0.422328
z_max    0.145062
class        dirt
exp             5
dtype: object

In [44]:
df_dirt_05mm_all.min()

x_min    8.137781
y_min   -0.314089
z_min   -0.261389
x_max     8.59471
y_max    0.272539
z_max    0.139738
class     dirt_05
exp             1
dtype: object

In [45]:
df_dirt_05mm_all.max()

x_min    8.549645
y_min   -0.210812
z_min   -0.250612
x_max    8.916849
y_max    0.352375
z_max    0.144513
class     dirt_05
exp             1
dtype: object

In [46]:
df_dirt_10mm_all.min()

x_min    8.252307
y_min   -0.499952
z_min   -0.260519
x_max     8.49979
y_max    -0.34273
z_max   -0.009304
class     dirt_10
exp             1
dtype: object

In [47]:
df_dirt_10mm_all.max()

x_min    8.600792
y_min   -0.453925
z_min   -0.167838
x_max    8.864602
y_max   -0.256534
z_max    0.143661
class     dirt_10
exp             1
dtype: object

In [48]:
df_dirt_15mm_all.min()

x_min    8.282683
y_min    -0.49987
z_min   -0.254695
x_max    8.358178
y_max   -0.499788
z_max   -0.173005
class     dirt_15
exp             1
dtype: object

In [49]:
df_dirt_15mm_all.max()

x_min    8.786819
y_min   -0.394762
z_min    0.143015
x_max    8.791254
y_max   -0.354731
z_max    0.143015
class     dirt_15
exp             1
dtype: object

In [50]:
df_foam_all.min()

x_min    8.167933
y_min   -0.190016
z_min   -0.258644
x_max     8.32077
y_max   -0.017249
z_max   -0.163633
class        foam
exp             1
dtype: object

In [51]:
df_foam_all.max()

x_min     8.65253
y_min     0.33501
z_min    0.141066
x_max    8.938702
y_max    0.455935
z_max    0.144781
class        foam
exp             5
dtype: object

In [52]:
df_oil_all.min()

x_min    8.176684
y_min   -0.313579
z_min    -0.25995
x_max     8.56809
y_max    0.286851
z_max    0.139982
class         oil
exp             1
dtype: object

In [53]:
df_oil_all.max()

x_min    8.557737
y_min   -0.159596
z_min   -0.249574
x_max    8.992307
y_max    0.417024
z_max    0.145646
class         oil
exp             5
dtype: object

In [54]:
df_water_all.min()

x_min    8.166916
y_min   -0.136527
z_min    -0.25262
x_max    8.569243
y_max     0.37475
z_max    0.140201
class       water
exp             1
dtype: object

In [55]:
df_water_all.max()

x_min    8.551755
y_min    0.009327
z_min   -0.168968
x_max     8.96022
y_max    0.499952
z_max    0.145293
class       water
exp             5
dtype: object

In [14]:
df_dew_all=df_add[df_add['class'] == 'dew']
df_dirt_all=df_add[df_add['class'] == 'dirt']
df_dirt_05mm_all=df_add[df_add['class'] == 'dirt_05']
df_dirt_10mm_all=df_add[df_add['class'] == 'dirt_10']
df_dirt_15mm_all=df_add[df_add['class'] == 'dirt_15']
df_foam_all=df_add[df_add['class'] == 'foam']
df_oil_all=df_add[df_add['class'] == 'oil']
df_water_all=df_add[df_add['class'] == 'water']

In [15]:
df_dew_all

      x_min  y_min  z_min  x_max  y_max  z_max class  exp
1350    NaN    NaN    NaN    NaN    NaN    NaN   dew    5
1351    NaN    NaN    NaN    NaN    NaN    NaN   dew    5
1352    NaN    NaN    NaN    NaN    NaN    NaN   dew    5
1353    NaN    NaN    NaN    NaN    NaN    NaN   dew    5
1354    NaN    NaN    NaN    NaN    NaN    NaN   dew    5
...     ...    ...    ...    ...    ...    ...   ...  ...
7195    NaN    NaN    NaN    NaN    NaN    NaN   dew    2
7196    NaN    NaN    NaN    NaN    NaN    NaN   dew    2
7197    NaN    NaN    NaN    NaN    NaN    NaN   dew    2
7198    NaN    NaN    NaN    NaN    NaN    NaN   dew    2
7199    NaN    NaN    NaN    NaN    NaN    NaN   dew    2

[1800 rows x 8 columns]